*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}
 .btn{
    background-color: #2457ff;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor:pointer;
}
.btn:hover{
    background:  #545864;
}
.container{
     display: flex;
    justify-content: center;
    align-items: center;
}
 /* naber start */
header{
    background-color: rgb(225, 225, 223);
}
.logo img{
    width: 110px;
}
nav{
    display: flex ;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;
}
 nav ul{
    
    display: flex;
    justify-content: space-between;
     list-style: none;
     gap: 10px;
     /* font-size: 15px; */
     align-items:center ;
     
}
nav ul li a{
    text-decoration: none;
    color: black;
}
/* navber end */

/* hero banner */

.hero{

   background-image: url(./B14-A01-DevConf-2026/assets/banner.jpg); 
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 786px;
   text-align: center;
}
.hero h1{
    font-size: 50px;
    font-weight: bold;
    color: white; 
    margin-bottom: 15px;
}
.hero p{
    font size: 20px;
    line-height: 1.6;
    /* margin-bottom: 100px; */
    color: white;
    width: 600px;
    margin-bottom : 400px; 

}

/* end banner */

/* speakers */

.speakers{
    width: 100%;
    max-width: 1300px;
    margin: 50px auto;
}
.speakers h2{
    text-align: center;
   margin-bottom: 40px;
}
.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.card{
    border: 1px solid #ddd;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
     
}
.card-content{
     padding: 15px;
}
.card-content h6{
    margin: 0 0 8px;
    color: #2457ff;
}  
.card-content p{
    margin: 0;
    color: gray;
}
/* speakers end */


/* secure */

.secure{
     width: 80%;
     margin: 80px auto;
    
}
.secure h2{
    text-align: center;
    font-size: 35px;
     color: #0f172a; 

}
.secure p{
    text-align:center;
    color:#7c8798;
    font-size:14px;
    margin-top:8px;
    margin-bottom:45px;
}
  .secure-card{
     width: 100%;
    margin: auto;
    gap: 30px; 
    padding: 10px;  
  }

.spot{
    width: 300px;
    border: 1px solid #ddd;
    background:#fff;
    border-radius: 12px;
    padding: 24px;
}

.plan{
    color:#7c8db5;
    font-size:12px;
    font-weight:bold;
    letter-spacing:1px;
    margin-bottom: 10px;

}
.spot h2{
    font-size: 45px;
   color:#051d4c ; 
    
}
.sub{
    color:gray;
    font-size: 15px;

}
 .spot hr{
    border:none;
     border-top:1px solid #e5e7eb;
     margin:20px 0;
}
.spot ul{
    padding-left:18px;
}
.spot ul li{
     font-size:12px;
    color:#334155;
    margin-bottom:14px;
    line-height:1.3;
}
.spot button{
     width:100%;
    height:46px;
    
    margin-top:20px;
    border:2px solid #3366ff;
    border-radius:8px;
    background: white;
    color: #3366ff;
    font-weight: 600;
    cursor: pointer;
}
.spot button:hover{
    background:#3366ff;
    color:white;
}
.chance{
      background:#0f1d31;
}
.chance plan{
    color:#6ea8ff;
}
.chance h2{
    color: white;
}
/* .chance sub{
    color: white;
} */
.chance ul li{
    color: white;
}
.chance button{
    background:#3366ff;
    color: #fefefe;
}
/* secure ends */


/* footer */

footer{
    background: #111827;
    padding: 20px 100px;

}
 .footer-container{
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .footer-container p{
     color: #9ca3af;
    font-size: 14px;
 }
 .footer-link{
    display: flex;
    gap: 30px;
}
.footer-link a{
    color: #9ca3af;
    text-decoration: none;
    font-size: 14px;
}
.footer-link a:hover{
    color: white;
}